* {
    -fx-font-family: "Cambria";
}

Label.header {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-alignment: center;
}

Label.title {
    -fx-font-size: 28px;
    -fx-font-weight: bold;
    -fx-alignment: center;
}

Label.desc {
    -fx-font-size: 14px;
    -fx-font-style: italic;
    -fx-text-alignment: justify;
}